html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;

}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}



#app {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0 auto;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 6px 10px 33px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 10px 33px -2px rgba(0, 0, 0, 0.76);
  width: 42%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-content: center;
  text-align: center;






}

.settings {
  grid-area: 3 / 1 / 4 / 2;
  align-self: auto;
  text-align: right;
  margin: 30px auto;
  width: 42%;
}

#pass_text {
  color: #939393;
  padding: 2px 30px 2px 30px;
  box-sizing: revert;
  font-weight: bold;
  opacity: 1;
  transition: opacity 1s;
  word-wrap: break-word;

}

#pass_text>p {
  padding-left: 80px;
  padding-right: 80px;
}

#password {
  color: #939393;
  padding: 2px 0px 2px 0px;
  box-sizing: revert;
  font-weight: bold;

}

#app .generate {
  padding-bottom: 25px;
}

#app:hover .round-time-bar[data-style="smooth"] div {
  animation-play-state: paused;
}

.title {

  padding: 10px;
  background-color: #00aed9;
  color: white;
  border-radius: 10px 10px 0px 0px;

}

#newPassword {

  background-color: #00aed9;
  color: white;
  border: none;

  height: 40px;
  width: 80%;
  border-radius: 15px;
}

#newPassword:hover {
  background-color: #009cc4;

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.round-time-bar div {
  height: 6px;
  background: #009cc4;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto 10px auto;
  transform-origin: left center;
}


.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
  to {
    /* More performant than animating `width` */
    transform: scaleX(0);
  }
}

#pass_text.fade {
  opacity: 0;
  color: #939393;
  padding: 2px 0px 2px 0px;
  box-sizing: revert;
  font-weight: bold;
}

.footer img {
  height: 30px;
}

.settings>#info {
  text-align: center;
  font-size: 11px;
  color: #0000007a;
  margin-top: 5%;
}